# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
__pycayhe__
__pycache__/
util/__pycache__/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
venv
pip-selfcheck.json

# pycharm
.idea

# private files
setting.ini
test.py
bot.db

# log file
*.log