[Unit]
Description=Telegram HBnoticebot
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/pi/HBnoticebot
ExecStart=/home/pi/HBnoticebot/venv/bin/python bot.py

[Install]
WantedBy=multi-user.target
